#include "resource.h"
#include <windows.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

IDD_CONFIG DIALOGEX 0, 0, 332, 288
STYLE WS_CHILD
FONT 8, "Tahoma"
BEGIN
	CONTROL "", 1001, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 61, 137, 185, 14
	CONTROL "URL", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 140, 20, 8 
END
